[Unit]
Description=Celery Worker Service for Fitness Project
After=network.target

[Service]
Type=forking
User=www-data
Group=www-data
EnvironmentFile=/var/www/fitness_project/.env
WorkingDirectory=/var/www/fitness_project
ExecStart=/var/www/fitness_project/venv/bin/celery multi start worker1 \
    -A fitness_project.celery \
    --pidfile=/var/run/celery/%n.pid \
    --logfile=/var/log/celery/%n%I.log \
    --loglevel=INFO \
    --concurrency=4
ExecStop=/var/www/fitness_project/venv/bin/celery multi stopwait worker1 \
    --pidfile=/var/run/celery/%n.pid
ExecReload=/var/www/fitness_project/venv/bin/celery multi restart worker1 \
    -A fitness_project.celery \
    --pidfile=/var/run/celery/%n.pid \
    --logfile=/var/log/celery/%n%I.log \
    --loglevel=INFO \
    --concurrency=4
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 